networks:
  # Red privada para la comunicación interna de la célula de perfiles
  profile-network:
    driver: bridge
    name: profile-network
  # Red compartida para conectarse a la célula de observabilidad
  infrastructure-network:
    external: true
    name: infrastructure-network

  web-gateway:
    external: true
    name: web-gateway

volumes:
  mongo-profile-data:
    driver: local

  minio-data:
    driver: local

services:
  # --- Base de Datos dedicada para la Célula de Perfiles ---
  mongo_profile:
    image: mongo:latest
    container_name: mongo_profile
    restart: unless-stopped
    ports:
      - "27018:27017" # Puerto del host diferente para no chocar con la otra BD
    volumes:
      - mongo-profile-data:/data/db
    networks:
      - profile-network # La BD se mantiene aislada en su red privada

  # --- Microservicios de la Célula 2 (Conectados a ambas redes) ---

  profile-service:
    build:
      context: ./profile-service
    container_name: profile-service
    restart: unless-stopped
    networks:
      - profile-network
      - infrastructure-network # <-- Conectado a la red compartida
    depends_on:
      - mongo_profile
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo_profile:27017/profiles_db
      - RABBITMQ_HOST=rabbitmq-udeajobs

  file-service:
    build:
      context: ./file-service
    container_name: file-service
    restart: unless-stopped
    networks:
      - profile-network
      - infrastructure-network # <-- Conectado a la red compartida
    depends_on:
      - minio
    environment:
      - S3_ENDPOINT_URL=minio:9000
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
  profile-gateway:
    build:
      context: ./profile-gateway
    container_name: profile-gateway
    restart: unless-stopped
    environment:
      - PROFILE_SERVICE_URL=http://profile-service:8080
      - FILES_SERVICE_URL=http://file-service:8080
      - DASHBOARD_SERVICE_URL=http://dashboard-service:8080
    networks:
      - profile-network
      - infrastructure-network # <-- Conectado a la red compartida
      - web-gateway
    depends_on:
      - profile-service

  dashboard-service:
    build:
      context: ./dashboard-service
    container_name: dashboard-service
    restart: unless-stopped
    networks:
      - profile-network
      - infrastructure-network 
    depends_on:
      - mongo_profile
    environment:
      - MONGODB_URI=mongodb://mongo_profile:27017/profiles_db


  minio:
    image: minio/minio:latest
    container_name: minioz
    restart: unless-stopped
    volumes:
      - minio-data:/data # Mapea el volumen para que los archivos no se pierdan
    ports:
      - "9000:9000" # Puerto para la API (usado por el file-service)
      - "9001:9001" # Puerto para la consola web
    environment:
      - MINIO_ROOT_USER=minioadmin   
      - MINIO_ROOT_PASSWORD=minioadmin 
    command: server /data --console-address ":9001"
    networks:
      - profile-network

  profile-docs:
    image: scalarapi/api-reference:latest # *** ¡Cambiando a la imagen correcta! ***
    container_name: profile-docs
    ports:
    - "5052:8080" # El puerto de la imagen 'api-reference' es 8080 por defecto
    restart: unless-stopped
    env_file:
      - ./scalar/.env
    networks:
      - profile-network

